*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Lato', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: rgba(181, 181, 181, 0.391);
    border: 1px solid rgb(98, 98, 98);
    margin:0 8px;
    border-radius: 3px;
}
.container div{
    height: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    
}
.container div input{
    border-radius: 3px;
    border: 1px solid rgb(98, 98, 98);
    height: 30px;
    margin-left: 5px;
    text-align: center;
}.container div h3{
    margin-right: 5px;
}h1{
    text-align: center;
    font-weight: 500;
}.row{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
button{
    margin-top: 10px;
    font-size: 18px;
    width: 100px;
    background-color: rgb(51, 51, 84);
    border-radius: 3px;
    border: 1px solid rgb(98, 98, 98);
    color:white;
    padding: 5px;

}button:hover{
    background-color: rgb(73, 102, 81);
}
.all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
h3{
    font-weight: 400;
}